<plugin>
	<nom>ciform : Formulaires pour SPIP</nom>
	<auteur>&#169; C. Imberti</auteur>
	<icon>pyramides-32.png</icon>
	<licence>[Creative commons by-nc-sa->http://creativecommons.org/licenses/by-nc-sa/2.0/fr/]</licence>

	<lien></lien>
	<version>1.4</version>
	<version_base>1.0</version_base>
	<etat>stable</etat>
    <slogan>Auteur : &#169; C. Imberti. Licence : Creative commons by-nc-sa.</slogan>
    <description>
    Auteur : &#169; C. Imberti. Licence : Creative commons by-nc-sa.<br />
	Ce plugin propose 3 formulaires (sans devoir s'authentifier) : poser une question, proposer un article, poser une question anonyme. Il propose &#233;galement un formulaire WIKI (qui n&#233;cessite de s'authentifier). 
	</description>
	<prefix>ciform</prefix>
	<install>base/ciform_install.php</install>
	<fonctions>ciform_fonctions.php</fonctions>

	<necessite id="SPIP" version='[2.0.9;]' />
	<necessite id="ciparam" version='[1.6;]' />
	
</plugin>
